<ion-content>
  <app-header backButton="/auth"></app-header>
  <div class="content">
    <section id="modulos" class="team">
      <ion-card color="medium" class="card">
       <ion-card-header>
         <ion-card-title class="ion-text-center ion-no-margin">
           <h4>RECUPERAR USUARIO</h4>
         </ion-card-title>
       </ion-card-header>
       <ion-card-content>
        <form
        (keyup.enter)="submit()"
        (ngSubmit)="submit()"
        class="ion-text-center"
      >
        <app-custom-input
          autocomplete="email"
          [control]="form.controls.email"
          label="Correo"
          type="email"
          icon="mail"
        ></app-custom-input>
        <div
          class="validators"
          *ngIf="form.controls.email.errors && form.controls.email.dirty"
        >
          <div *ngIf="form.controls.email.errors?.['required']">
            Ingresa tu email
          </div>
          <div *ngIf="form.controls.email.errors?.['email']">
            Ingresa un email valido
          </div>
        </div>

        <ion-button
          class="ion-margin-vertical"
          [disabled]="form.invalid"
          type="submit"
          shape="round"
        >
        RECUPERAR
          <ion-icon slot="end" name="person-add"></ion-icon>
        </ion-button>
      </form>
       </ion-card-content>
     </ion-card>
     </section> 
  </div>
</ion-content>
