.content{
    width: 100%;
    height: auto;
    background: var(--ion-color-light);
    color: var(--ion-color-light-contrast);
    border-radius: 20px 20px 0 0;
    margin-top: 0vh;
    padding: 15px 0;
    box-shadow: 0px -8px 40px -16px rgba(0,0,0,0.35);
    -webkit-box-shadow: 0px -8px 40px -16px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px -8px 40px -16px rgba(0, 0, 0, 0.35);
}
.ModulosContent{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.iframe-container {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.1);
  z-index: 990; 
}



.swiper-container {
    width: 100%;
    height: 100%;
  }
  ion-card-header.ios {
    display: flex;
    flex-flow: column-reverse;
  }

  .card-modulos{
    color: black;
  }

  @media (min-width: 769px){
    ion-card{
        width: 636px;
        height: 315px;
        padding: 70px 5px;
    }
   
}