<ion-content>
  <app-header backButton="/auth"></app-header>
  <div class="content">
    <div style="display: flex; align-items: center; justify-content: center;"><h1>REGISTRAR USUARIO</h1></div>
    <div class="d-flex-center">
      <form
        (keyup.enter)="submit()"
        (ngSubmit)="submit()"
        class="ion-text-center"
      >
        <app-custom-input
          autocomplete="name"
          [control]="form.controls.name"
          label="Nombre"
          type="name"
          icon="person"
        ></app-custom-input>
        <div
          class="validators"
          *ngIf="form.controls.name.errors && form.controls.name.dirty"
        >
          <div *ngIf="form.controls.name.errors?.['required']">
            Ingresa tu nombre
          </div>
          <div *ngIf="form.controls.name.errors?.['minlenght']">
            Ingresa un nombre valido
          </div>
        </div>

        <app-custom-input
          autocomplete="lastname"
          [control]="form.controls.lastname"
          label="Apellido"
          type="lastname"
          icon="person"
        ></app-custom-input>
        <div
          class="validators"
          *ngIf="form.controls.lastname.errors && form.controls.lastname.dirty"
        >
          <div *ngIf="form.controls.lastname.errors?.['required']">
            Ingresa tu Apellido
          </div>
          <div *ngIf="form.controls.lastname.errors?.['minlenght']">
            Ingresa un Apellido valido
          </div>
        </div>

        <app-custom-input
          autocomplete="email"
          [control]="form.controls.email"
          label="Correo"
          type="email"
          icon="mail"
        ></app-custom-input>
        <div
          class="validators"
          *ngIf="form.controls.email.errors && form.controls.email.dirty"
        >
          <div *ngIf="form.controls.email.errors?.['required']">
            Ingresa tu email
          </div>
          <div *ngIf="form.controls.email.errors?.['email']">
            Ingresa un email valido
          </div>
        </div>

        <app-custom-input
          autocomplete="phone"
          [control]="form.controls.phone"
          label="Telefono"
          type="tel"
          icon="phone-portrait-outline"
        ></app-custom-input>
        <div
          class="validators"
          *ngIf="form.controls.phone.errors && form.controls.phone.dirty"
        >
          <div *ngIf="form.controls.phone.errors?.['required']">
            Ingresa tu telefono
          </div>
          <div *ngIf="form.controls.phone.errors?.['maxlength']">
            Ingresa un telefono valido
          </div>
        </div>

        <app-custom-input
          [control]="form.controls.password"
          label="Contraseña"
          type="password"
          icon="lock-closed"
        ></app-custom-input>
        <div
          class="validators"
          *ngIf="form.controls.password.errors && form.controls.password.dirty"
        >
          <div *ngIf="form.controls.password.errors?.['required']">
            Ingresa tu contraseña
          </div>
        </div>

        <app-custom-input
          [control]="form.controls.confirmPassword"
          label="Confirma Contraseña"
          type="password"
          icon="checkmark-circle"
        ></app-custom-input>
        <div
          class="validators"
          *ngIf="form.controls.confirmPassword.errors && form.controls.confirmPassword.dirty"
        >
          <div *ngIf="form.controls.confirmPassword.errors?.['required']">
            Ingresa tu contraseña
          </div>
          <div *ngIf="form.controls.confirmPassword.errors?.['noMatch']">
            Las contraseñas no coinciden
          </div>
        </div>

        <ion-button
          class="ion-margin-vertical"
          [disabled]="form.invalid"
          type="submit"
          shape="round"
        >
        REGISTRAR
          <ion-icon slot="end" name="person-add"></ion-icon>
        </ion-button>
      </form>
    </div>
  </div>
</ion-content>
