<ion-content >
  <app-header backButton="/tabs/armonizacion"></app-header>
  <div class="content">
    <section id="modulos" class="team">
      <ion-card color="medium">
       <ion-card-header>
         <ion-card-title class="ion-text-center ion-no-margin">
           <h4>CUENTAS PUBLICAS</h4>
         </ion-card-title>
       </ion-card-header>
       <ion-card-content>
        <iframe src="https://armonizacion.lerdosapal.mx/cuentas_publicas" class="container-iframe" [ngClass]="darkMode.value ? 'invert' : 'normal'"></iframe>
       </ion-card-content>
     </ion-card>
     </section>
  </div>
</ion-content>
