<ion-content >
  <app-header></app-header>
  <div class="content">
    <section id="modulos" class="team">
     <ion-card color="medium">
      <ion-card-header>
        <ion-card-title class="ion-text-center ion-no-margin">
          <h4>PAGO DEL SERVICIO DE AGUA Y ALCANTARILLADO DEL MUNICIPIO DE LERDO, DGO.</h4>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form
        class="ion-text-center"
      >
      <app-custom-input
          (input)="ConvertirenMayusculas($event,15)"
          [control]="form.controls.name"
          label="Ingrese el número de cuenta:"
          type="number"
          icon="water"
        ></app-custom-input>
        <div
          class="validators"
          *ngIf="form.controls.name.errors && form.controls.name.dirty"
        >
          <div *ngIf="form.controls.name.errors?.['required']">
            Ingresa el número de cuenta
          </div>
          <div *ngIf="form.controls.name.errors?.['minlenght']">
            Ingresa un número de cuenta valido
          </div>
        </div>

        <ion-button
        (click)="buscarfolio()"
        class="ion-margin-vertical"
        [disabled]="form.invalid"
        shape="round"
        
      >
      BUSCAR
        <ion-icon slot="end" name="search-circle"></ion-icon>
      </ion-button>
      </form>
      </ion-card-content>
    </ion-card>
    </section>
  </div>
</ion-content>
