<ion-content >
  <app-header backButton="/tabs/pagos"></app-header>
  <div class="content">
    <section id="modulos" class="team">
     <ion-card color="medium">
      <ion-card-header>
        <ion-card-title class="ion-text-center ion-no-margin">
          <h4>PAGO DEL SERVICIO DE AGUA Y ALCANTARILLADO DEL MUNICIPIO DE LERDO, DGO.</h4>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <iframe [src]="url" class="container-iframe"></iframe>
      </ion-card-content>
    </ion-card>
    </section>
  </div>
</ion-content>
