<ion-content >
  <app-header navbar="true" nav="4"></app-header>
  <div class="content">
    <section id="modulos" class="team">
      <ion-card color="medium">
       <ion-card-header>
         <ion-card-title class="ion-text-center ion-no-margin">
           <h4>ARMONIZACIÓN</h4>
         </ion-card-title>
       </ion-card-header>
       <ion-card-content style="display: flex; align-items: center;
       flex-direction: column;
       flex-wrap: wrap;">
        <ion-button
        (click)="irsevac()"
        class="ion-margin-vertical"
        shape="round"
        
      >
      SEVAC
        <ion-icon slot="end" name="search-circle"></ion-icon>
      </ion-button>

      <ion-button
        (click)="ircuentasp()"
        class="ion-margin-vertical"
        shape="round"
      >
      CUENTAS PUBLICAS
        <ion-icon slot="end" name="search-circle"></ion-icon>
      </ion-button>
       </ion-card-content>
     </ion-card>
     </section>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar class="ion-text-center"  color="primary" style="margin-bottom: 60px;">
      <ion-text style="font-size: xx-small;">© Derechos reservados, SAPAL.Lerdo Durango. Desarrollado por APD Consultores en Tecnologías.</ion-text>
  </ion-toolbar>
</ion-footer>
