<ion-content>   
  
  
  <!-- ======= PRESENTACION ======= -->
  <section id="hero">
    <div class="hero-container" style="background-color: rgba(255, 255, 255, 0.5); height: 100%; width: 100%;"> 
        <a href="index.html" class="hero-logo" data-aos="zoom-in"><img src="assets/img/hero-logo.png" alt="" height="100%" width="100%"></a>
        <h1 data-aos="zoom-in" style="color: black;"><b>SAPAL Lerdo Durango</b></h1>  
       </div>
  </section>
  <!-- End PRESENTACION -->  
  <!-- ======= MENU ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between"> 
      <div >
        <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid" height="100px" width="150px"></a>
      </div> 
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="/inicio">Inicio</a></li>
          <li><a class="nav-link scrollto" href="/inicio#QR">Acerca De</a></li>
         <!-- <li><a class="nav-link scrollto" href="/inicio#logros">Logros</a></li>
          <li><a class="nav-link scrollto" href="/inicio#video">Video</a></li> -->
          <li><a class="nav-link scrollto" href="/inicio#modulos">Modulos</a></li> 
          <li><a class="nav-link scrollto" href="https://lerdosapal.mx/control/grid_sevac_01_archivos_1/grid_sevac_01_archivos_1.php" target="_blank">Armonizacion</a></li> 
        
          <li><a class="nav-link scrollto" href="/inicio#contactanos">Contactanos</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav> 
    </div>
  </header>
  <!-- End MENU --> 
  <!-- #main -->
  <main id="QR">  
    <!-- ======= Acerca de ======= -->
    <section id="acerca" class="pricing section-bg" >
      <div class="container" > 
        <div class="section-title"  >
          <h2>CÓDIGO QR :</h2>
          <img src="assets/img/documentacion/Captura.PNG" alt="" width="300px" height="250px">
          <br>
         
        </div> 
        <div class="row"   > 
            <div class="box" data-aos-delay="100" >
              <h3><b>VALIDACIÓN</b></h3>
               <u><p>CARTA NO ADEUDO</p></u>
              <p style="color:green; text-align: center;">El QR OBTENIDO SU ESTATUS ES: <br> <strong><h2>¡VALIDADO!</h2></strong></p> 
             <img src="assets/img/apd_reducida.png" alt="" width="150px" height="100px" >
            </div>
            
        </div> 
     
        
      </div>
    </section>
    <!-- End Acerca de -->
  </main>






  
  <!-- End #main -->
  <!-- ======= Footer ======= -->
  <footer id="footer"> 
    <div class="footer-top"> 
      <div class="container"> 
        <div class="row justify-content-center">
          <div class="col-lg-6"> 
            <h3>Lerdo SAPAL</h3> 
          </div>
        </div> 
      </div>
    </div> 
    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Derechos reservados, <strong><span>SAPAL</span></strong>. Lerdo Durango
      </div>
      <div class="credits"> 
        Desarrollado por <a href="https://grupoapd.mx/" style="color: #FFFFFF; text-decoration: none;">APD Consultores en Tecnologías.</a>
      </div>
    </div>
  </footer>
<!-- End Footer -->




</ion-content>

